# Android Studio / IntelliJ / Gradle / Local files
*.iml
.gradle/
.kotlin/
/local.properties
/.idea/
/build/
**/build/
/captures/
.externalNativeBuild/
.cxx/

# Local JDK
/jdk/

# OS specific files
.DS_Store
Thumbs.db

# Reference decompiled artifacts
/reference/
/jadx/
*.jar
*.zip
